body{font-family: "ヒラギノ角ゴ Pro W3", Sylfaen, Georgia, "Times New Roman", serif;}
/* **************** CONTENT OBJECTS ***************** */

/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px; }
code{color:#0B8C8F;}

/* links */
a {color: #2c4460; text-decoration: none;}
a:focus, a:hover {text-decoration: underline;}
a:focus{background-color:#FFFFCC;}
a:visited { color:#005a9c; }
/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:20px; line-height: 160%; }
/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:20px; line-height: 160%; }
/* ====== blockquote ====== */
cite{display:block; text-align:right; padding-top: 10px;}

p, dt, dd { line-height: 160%; }

body { background: #EEEDC1 url(../../images/bgi_body.jpg) repeat-y center top; }
section { display:block; }
article { display:block; }

.head { background: #33291C; display:block; border-bottom: 5px solid #4C3E28; padding: 0px 0px 17px 0px; margin-bottom: 15px; }
.body { margin: 0px auto; }
.foot { background: #33291C; display:block; border-top: 5px solid #4C3E28; padding: 0px 0px 0px 0px; color: #ffffff; }

.gbnav { width: 358px; display: block; margin-top: 30px; }

.logo { background: url(../../images/bgi_logo.jpg) no-repeat left top; padding: 16px 0px 0px 0px; } 

.nav { overflow: hidden; padding: 3px; background: #3C3120; -moz-border-radius: 5px; }
.nav li { float: left; margin-right: 1px; font-size: 123.1%; font-family: 'Lobster'; text-align: center; color: #ffffff; }
.nav li a { background: #4C3E28; padding: 10px 20px; display: block; color: #ffffff; }
.nav li a:hover { background: #898612; }
.nav li:last-child  { margin-right: 0px; }
.nav li:first-child a { -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; }
.nav li:last-child a { -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px }

.attrbs { overflow: hidden; }
.attrbs dt { text-transform: uppercase; float: left; margin-right: 5px; }
.attrbs dd { float: left; margin-right: 10px; }

.discription { font-size: 93%; }
.copyright {text-align: center; padding-bottom: 10px; }

.license {text-align: center;}
.tagList { font-size: 93%; }

.entryLinks { float: right; margin-right: 10px; }
.entryLinks li { display: inline-block; margin-left: 5px; }
.entryLinks li a { -moz-border-radius: 5px; background: #cccccc; padding: 5px 15px; }

.author { /*display: inline-block; background: #f6f6f6; padding: 5px 10px;*/ }
.author img { vertical-align: middle; display: inline; padding: 1px; background: #ffffff; border: 1px solid #cccccc; margin-right: 5px; }