.keypair th { font-weight: bold; background: #eeeeee; padding: 10px; vertical-align: top; border: 1px solid #cccccc; width: 100px; }
.keypair td { background: #ffffff; padding: 10px; border: 1px solid #cccccc; }
